html{
	background-color: #fffdf0;
	font-size: 0.5rem;
}

h1{
	background-color: fce208;
	padding: 1em 1em 0em 0em;
	margin:0;
	font-weight: normal;
	font-size: 6rem;
	font-style: normal;
	font-family: ;
	line-height: 1.5;
	color: #b60633;
	text-align: center;
}
