html{
	background-color: #fff;
	font-size: 0.5rem;
}

h1{
	background-color:#ffea02;
	padding: 1em 1em 0em 0em;
	margin:0;
	font-weight: normal;
	font-size: 6rem;
	font-style: normal;
	font-family:'Chewy', cursive;
	color: #b60633;
	text-align: center;
}

h2{
	font-weight: normal;
	font-size: 4rem;
	font-style: normal;
	font-family:'Chewy', cursive;
	line-height: 1.5;
	color:#b60633;
	border-top: 3px solid;
	border-color: #ffea02;
	text-align: left;
}

h3{
	font-weight: normal;
	font-size: 3rem;
	font-style: normal;
	font-family:'Chewy', cursive;
	line-height: 1.5;
	color:#b60633;
}

blockquote{
font-size: 2rem;
	font-style: italic;
	color:#c6c41b;
	margin-top:0;
}

figcaption{
	font-size: 1.70em;
	padding: 1em;
	text-align: center;
	font-style: italic;
}

figure{
	padding: 1em 1em 1em 1em;
	border: 2px solid #c6c41b;
	border-radius:10px;
	display: inline-block;
	background-color:#f4f3bf
}

p{
	font-size: 1.70rem;
	text-align:left;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

dl{
	font-size: 1.5rem;
	line-height: 1.5rem;
}

nav{
	background-color: ;
	text-align: center;
}

nav ul{
	background-color: ;
	padding: 1em 1em 1em 1em;
	margin:0;
	font-weight: normal;
	font-size: 2rem;
	font-style: normal;
	font-family: times;
	line-height: 1.5;
	color: #fff;
	list-style-type: none;
}

nav li{
	display: inline-block;
}

nav a{
display: inline-block;
	padding: 0.5em 0.75em;
	background-color: #c6c41b;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	}

a:hover{
	background-color: #dd003e;
}

.quote{
	margin: 0;
	font-size: 6rem;
	color:#c6c41b;
	text-align: center;
	padding: 0;
	line-height: 0.5;
}

img{
	width:100;
}

dd{
	text-align: left;
	margin:0;
}

h4{
	font-style: italic;
	font-weight: normal;
}
